gunicorn==20.1.0
dash~=2.17.1
pandas~=2.2.2
dash_bootstrap_components
openpyxl~=3.1.5
screeninfo
numpy~=2.1.0
google-cloud
google-cloud-storage
google-cloud-bigquery
pyarrow
pytz
fsspec
gcsfs
db-dtypes
dash_daq
dash_auth~=2.3.0
dash_ag_grid
python-telegram-bot
upstox-python-sdk
google-cloud-bigquery-storage
dash-bootstrap-components~=1.6.0
requests~=2.32.3
protobuf~=5.27.3
plotly~=5.23.0
sqlalchemy
psycopg2-binary