gunicorn
dash
pandas
dash_bootstrap_components
openpyxl
numpy
google-cloud
google-cloud-storage
google-cloud-bigquery
pyarrow
pytz
fsspec
gcsfs
db-dtypes
dash_daq
dash_auth
dash_ag_grid
python-telegram-bot
upstox-python-sdk
google-cloud-bigquery-storage
dash-bootstrap-components
requests
protobuf
plotly
sqlalchemy
psycopg2-binary